<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta title="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>メモアプリ</title>
</head>
<body>
<h1>メモアプリ</h1>
<form action="/memos/<%= @memo.id %>" method="post">
  <input name="_method" type="hidden" value="patch"/>
  <p>
    <input type="text" name="title" id="title" value="<%= @memo.title %>"/>
  </p>
  <p>
    <textarea name="body" id="body" cols="30" rows="10"><%= @memo.description %></textarea>
  </p>
  <p>
    <input type="submit" value="更新"/>
  </p>
</form>
</body>
</html>
